<h2>Admin Auth</h2>
<form action="/auth" method="post">
	<input type="password" name="password" />
	<input type="submit" value="Login" />
</form>
<script type="text/javascript">document.forms[0].password.focus()</script>
